---
version: "2"
services:
  homer:
    image: b4bz/homer
    #To build from source, comment previous line and uncomment below
    #build: .
    container_name: pt.Homer
    volumes:
      - ~/bin/Home.Homer/Assets:/www/assets
    ports:
      - 7000:8080
    user: 1000:1000 # default
    environment:
      - INIT_ASSETS=1 # default
